.dialog {
	position: fixed;
	z-index: 1;
	padding-top: 200px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.dialogContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: fit-content;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.dialogContent label {
	cursor: pointer;
	font-size: 16px;
}

.dialogContent input {
	font-size: 16px;
	padding: 5px;
}

.dialogContent button {
	background-color: dodgerblue;
	color: white;
	border: none;
	font-size: 18px;
	border-radius: 10px;
	padding: 10px;
	display: block;
	margin-top: 20px;
	font-weight: bold;
	border: 2px solid dodgerblue;
}

.dialogContent button:hover {
	cursor: pointer;
	background-color: #339aff;
	border: 2px solid black;
}

.dialogContent button:disabled,
.dialogContent button[disabled] {
	border: 2px solid #999999;
	background-color: #cccccc;
	color: #666666;
	cursor: default;
}

.dialogContent select {
	font-size: 16px;
	padding: 5px;
}

.columnHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-right: 20px;
}

.columnOption {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	gap: 20px;
}

.columnOption input[type='checkbox'] {
	width: 16px;
}

.columnOption input[type='text'] {
	width: 200px;
}

button.plusButton {
	background-color: green;
	padding: 5px 8px;
	border: none;
	font-size: 20px;
}

button.plusButton:hover,
button.plusButton:focus {
	background-color: darkgreen;
	border: none;
}

.indexColumnOption {
	display: flex;
	font-size: 16px;
}

.indexColumnOption input[type='checkbox'] {
	width: 16px;
	margin-right: 10px;
}

.constraintTables {
	display: flex;
	gap: 20px;
}

.fkColumns {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
