.flexHeader {
	display: flex;
	gap: 5px;
	margin-bottom: 5px;
}

.flexHeader button {
	border-radius: 10px;
	border: 2px solid black;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	background-color: darkcyan;
}

.flexHeader button:hover {
	cursor: pointer;
	background-color: #339aff;
}

.sequentialContainer {
	margin-bottom: 5px;
}
